@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
}

.truncated-txt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image-placeholder {
	flex: 0 0 77px;
	height: 115px;
	display: flex;
	align-self: stretch;
	justify-content: center;
	align-items: center;
	background: lightgray;
	font-size: 32px;
	min-width: 77px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
	background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
